<div class="food-menu">

    {% assign menusections = site.collections | where:'type', 'food' | sort: 'position' %}

    {% for section in menusections %}
        {% assign name = section.label %}

        <section class="{{section.title}}">
            <h2>{{section.title}}</h2>
            {% if section.picture %}
                {% include picture.html pic=section.picture alt=section.title %}
            {% endif %}
            {% if section.description != nil %}
                <p class="description">{{section.description}}</p>
            {% endif %}

            {% assign items = site[name] | sort: 'position' %}
            {% for item in items %}
                <article>
                    <h3>{{item.title}}
                        {% if item.info != nil %}
                            <span>({{item.info}})</span>
                        {% endif %}
                        {% if item.price != nil %}
                            <strong>{{item.price}}:-</strong>
                        {% endif %}
                    </h3>
                    {{item.content}}
                </article>
            {% endfor %}
            {% if section.info != nil %}
                <p class="info">{{section.info}}</p>
            {% endif %}

        </section>

    {% endfor %}
</div>