<head>
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta charset="utf-8"/>
    <meta content="{{ site.description }}" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="{{ site.title }}" property="og:title">
    <meta content="{{ site.description }}" property="og:description">
    <meta content="http://beernplay.se" property="og:url">
    <meta content="http://beernplay.se/assets/images/bnp-on-white-square.png" property="og:image">
    <meta content="website" property="og:type">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=block" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144943286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144943286-1');
    </script>
</head>
