<head>
    <title>{{ site.title }}
        -
        {{ page.title }}</title>
    <meta charset="utf-8"/>
    {% if page.lang == 'sv' %}
        <meta content="{{ site.description-sv }}" name="description"/>
    {% else %}
        <meta content="{{ site.description }}" name="description"/>
    {% endif %}
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="{{ site.title }}" property="og:title">
    {% if page.lang == 'sv' %}
        <meta content="{{ site.description-sv }}" property="og:description">
    {% else %}
        <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    <meta content="http://beernplay.se" property="og:url">
    <meta content="http://beernplay.se/assets/images/bnp-on-white-square.png" property="og:image">
    <meta content="website" property="og:type">
    <link href="{{ site.url }}{{ page.url | replace:'index.html',''}}" rel="canonical">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=block" rel="stylesheet">
    {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
    {% for post in posts %}
        <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url }}"/>
    {% endfor %}
    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
        <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}"/>
    {% endfor %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144943286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144943286-1');
    </script>
</head>
