<head>
    <title>{{ site.title }}</title>
    <meta description="{{ site.description }}"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <meta content="Beer n' Play" property="og:title">
    <meta content="Craft Beer and Games. Hornsgatan 138, Stockholm." property="og:description">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,500&display=block" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144943286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144943286-1');
    </script>
</head>
