<div class="box styled right">
    <table>
        <thead>
            <tr>
                <th colspan="2">Öppettider</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Måndag</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Tisdag</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Onsdag</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Torsdag</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Fredag</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Lördag</td>
                <td>13:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Söndag</td>
                <td>13:00 &ndash; 01:00</td>
            </tr>
        </tbody>
    </table>
</div>
