<div class="box styled right">
    <table cellspacing="0">
        <thead>
            <tr>
                <th colspan="2">Opening hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monday</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>16:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>14:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>14:00 &ndash; 01:00</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>14:00 &ndash; 01:00</td>
            </tr>
        </tbody>
    </table>
</div>