.food-menu,
.games-menu {
  margin: 3 * $base-space 0;
  column-count: 3;
  column-gap: 3 * $base-space;
  column-fill: balance;

  @media screen and (max-width: $break-small) {
    column-count: 1;
  }
  @media screen and (min-width: $break-small) and (max-width: $break-medium) {
    column-count: 2;
  }

  section {
    break-inside: avoid;
    margin-bottom: 2 * $base-space;
    img {
      margin-bottom: $base-space;
    }
    .description {
      font-style: italic;
    }
    .info {
      margin-top: $base-space;
      color: $subdued-text-color;
    }
  }

  h2,
  h3 {
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    min-width: 300px;
    span {
      margin: 0 $base-space / 2;
      font-size: $base-font-size;
      color: $subdued-text-color;
    }
    strong {
      margin-left: auto;
      font-size: $base-font-size * 1.2;
      font-weight: bold;
    }
  }
}
