---
---

@import "reset.scss";

@font-face {
  font-family: TrendHMSans;
  src: url("../fonts/Trend\ Hand\ Made\ Sans\ Four.otf") format("opentype");
}

// vars

$page-background-color: #000000;
$text-color: rgba(255, 255, 255, 0.84);
$bnp-red: #cf2430;

body {
  font-family: "Nunito", sans-serif;
  background: $page-background-color;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: stretch;
  margin: 0;
  max-width: 1000px;
  margin: 0 auto;
}

#splash {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main {
  flex: 1;
}

header {
  display: flex;
  flex-direction: column;
  > figure {
    padding: 10px;
    text-align: center;
    img {
      width: 300px;
    }
  }
}

footer {
  border-top: 1px solid $text-color;
  line-height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  a {
    display: block;
    font-family: TrendHMSans;
    font-size: 36px;
    margin: 10px;
    padding: 10px 20px;
    border: 4px solid $text-color;
    border-radius: 5px;
    text-decoration: none;

    &:hover,
    &.active {
      border: 4px solid $bnp-red;
      color: $bnp-red;
    }
  }
}

// untappd fixes

.ut-menu {
  font-family: "Nunito", sans-serif !important;
  p {
    font-size: inherit;
  }
  .menu-info {
    display: none;
  }
  .menu-list-item a:hover {
    font-weight: bold !important;
    background-color: #000000 !important;
  }
}

.pagination-container {
  display: none;
}

h1 {
  font-weight: bold;
}

a {
  color: $text-color;
}

.biglogo {
  margin-top: -5em;
  width: 100%;
}
