---
---

// vars

$page-background-color: #000;
$text-color: rgba(255, 255, 255, 0.8);
$subdued-text-color: rgba(255, 255, 255, 0.5);
$border-color: rgba(255, 255, 255, 0.8);
$subdued-border-color: rgba(255, 255, 255, 0.3);
$bnp-red: #cf2430;
$base-font-size: 16px;
$base-space: 16px;
$break-small: 620px;
$break-medium: 920px;
$break-large: 1200px;

@import "reset";
@import "type";
@import "food";
@import "kenb";

@font-face {
  font-family: "Trend";
  src: url("../fonts/trend.woff2") format("woff2"),
    url("../fonts/trend.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: switch;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: $base-font-size;
  background: $page-background-color;
  background-size: cover;
  background-attachment: fixed;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  margin: 0 auto;
}

#splash {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-family: Nunito;
    font-size: 32px;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    margin: 0;
  }

  .biglogo {
    width: 100%;
    margin-top: -5em;
  }

  a {
    text-decoration: underline;
  }
}

#main {
  flex-grow: 1;
  padding: 0 $base-space $base-space $base-space;
}

header {
  padding: 2 * $base-space 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  > figure {
    a {
      display: block;
    }
    width: 500px;
    height: 150px;
    @media screen and (max-width: $break-small) {
      width: 250px;
      height: 75px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

footer {
  border-top: 1px dashed $subdued-border-color;
  color: rgba($text-color, 0.5);
  padding: $base-space;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: rgba($text-color, 0.5);
    &:hover {
      text-decoration: none;
      color: $text-color;
    }
    &:after {
      content: " • ";
      color: rgba($text-color, 0.2);
      padding: 0 5px;
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

.button-menu {
  margin-top: 2 * $base-space;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  @media print {
    display: none;
  }

  a {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: $base-font-size * 1.5;
    font-weight: bold;
    text-transform: uppercase;
    margin: $base-space / 2;
    padding: $base-space / 2 2 * $base-space;
    padding-top: 4px; // Oswald is strange
    border: 3px solid $border-color;
    border-radius: 5px;
    text-decoration: none;
    transition: 1s;
    &:hover,
    &.active {
      text-decoration: none;
      border: 3px solid $bnp-red;
      color: $bnp-red;
    }
    @media screen and (max-width: $break-small) {
      font-size: $base-font-size;
      margin: $base-space / 3;
      padding: $base-space / 3 $base-space;
    }
  }
}

// untappd fixes

#beers {
  margin-top: 3 * $base-space;

  p:first-of-type {
    font-size: $base-font-size;
  }

  .ut-menu {
    background: transparent !important;
    font-family: "Nunito", sans-serif !important;
    .menu-info {
      display: none;
    }
    .menu-list-item a:hover {
      font-weight: bold !important;
      background-color: transparent !important;
    }
    .beer-name {
      margin-top: -4px;
      margin-bottom: 4px;
      font-size: $base-font-size * 1.2;
    }
    .section-header-bg-color {
      background: transparent !important;
    }
    .item-bg-color {
      background: transparent !important;
    }
    div,
    p,
    span {
      border: none;
    }
    a.active {
      font-weight: bold;
    }
  }

  .pagination-container {
    display: none;
  }
}

table {
  td,
  th {
    padding: $base-space / 2 $base-space;
    // border-bottom: 1px solid $subdued-border-color;
  }
  th {
    font-size: $base-font-size * 1.2;
    border-bottom: 1px solid $subdued-border-color;
  }
}

#instafeed {
  column-gap: $base-space;
  column-fill: balance;
  column-count: 1;
  @media screen and (min-width: $break-small) {
    column-count: 2;
  }
  @media screen and (min-width: $break-medium) {
    column-count: 3;
  }
  > * {
    /* Avoids children getting stuck between column  */
    break-inside: avoid;
    /* For the bug that causes gap on top of columns sometimes */
    display: inline-block;
    margin-bottom: 10px;
  }
  > *:nth-child(2) {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
  }
}

img {
  &.right {
    float: right;
    max-width: 300px;
    width: 50%;
    margin-left: 2 * $base-space;
  }
  &.left {
    float: left;
    max-width: 300px;
    width: 50%;
    margin-right: 2 * $base-space;
  }
}

.logo:hover {
  animation-name: wiggle;
  animation-duration: 800ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(2deg);
  }
  25% {
    -webkit-transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  75% {
    -webkit-transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.box {
  &.styled {
    border: 2px double $subdued-border-color;
    padding: $base-space / 2;
    margin: $base-space;
  }
  &.right {
    float: right;
    margin-left: $base-space;
    margin-right: 0;
  }
  &.left {
    float: left;
    margin-right: $base-space;
    margin-left: 0;
  }
}
