<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>

        {% include header.html %}

        <article id="main">
            <section id="content">
                {{ content }}
            </section>

            <div class="food-menu">

                {% assign menusections = site.collections | where:'type', 'food' | sort: 'position' %}

                {% for section in menusections %}
                    {% assign name = section.label %}

                    <section class="{{section.title}}">
                        <h2>{{section.title}}</h2>
                        {% assign items = site[name] | sort: 'position' %}
                        {% for item in items %}
                            <h3>{{item.title}}
                                {% if item.info != nil %}
                                    <span>({{item.info}})</span>
                                {% endif %}
                                {% if item.price != nil %}
                                    <strong>{{item.price}}:-</strong>
                                {% endif %}
                            </h3>
                            {{item.content}}
                        {% endfor %}
                        {% if section.description != nil %}
                            <p class="description">{{section.description}}</p>
                        {% endif %}
                    </section>

                {% endfor %}
            </div>

        </article>

        {% include footer.html %}

    </body>
</html>
