<!DOCTYPE html>

<html lang="en">
    {% include head.html %}

    <body>
        {% if page.slider %}
            {% include ken.html %}
        {% endif %}

        <div id="wrapper">
            {% include header.html %}

            <article id="main">
                {{ content }}
            </article>

            {% include footer.html %}

            {% if page.name == 'index.md' %}
                <div class="credits">Photos by
                    <a href="https://www.instagram.com/danielalbertofoto/" target="_blank">Daniel Martinez</a>
                    et al. Web by Martin Olsson.
                </div>
            {% endif %}
        </div>

    </body>
</html>
